<h1><%= @user.name %>のページ</h1>
<h5>メールアドレス : <%= @user.email %></h5>
<h5><%= button_to '新しいタスクを追加する', {controller: "tasks", action: "new"}, {method: :get} %></h5>
<h5><%= button_to "タスク一覧に戻る", tasks_path, method: :get %></h5>
